{% extends "::base.html.twig" %}

{% block body %}
  <div class="container">

    <h1>Nuxos Admin GUI</h1>
    <p>Welcome on BukAdmin !<br>
       You can manage your entire Minecraft server from this application. Test</p>

  </div> <!-- /container -->
{% endblock %}