{% extends "BukminPanelBundle:Default:layout.html.twig" %}

{% block bukminpanel_body %}
  <h1>Nuxos Admin GUI</h1>
  <p>Welcome on BukAdmin !<br>
     You can manage your entire Minecraft server from this application. Test</p>
{% endblock %}