{% extends "::base.html.twig" %}

{% block title %}
  {{ 'title.players'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container">
    {% block bukminpanel_body %}
    {% endblock %}
  </div>
{% endblock %}