{% extends "::base.html.twig" %}

{% block title %}
  {{ 'title.account'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container">
    {% block fos_user_content %}
    {% endblock fos_user_content %}
  </div>
{% endblock %}